body {
    max-height: 100vH;
}

.badge {
    border: 2px solid #19875400;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #cccccc;
}

.badge-border {
    border-color: #11fb11;
}

.badge span {
    float: right;
    display: none;
}

.outer-score {
    background-color: #fafafa;
    height: 100px;
    width: 100%;
    border-radius: 50px;
    border: 10px solid green;
    text-align: center;
}

.outer-score p {
    color: green;
    font-size: 3rem;
    font-weight: 700;
}