body {
    max-height: 100vH;
}

img {
    
    margin: 5px;   
}

.red-border {
    border: 2px solid red; 
}

.yellow-background {
    border: 2px solid green;
}

.badge {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: grey;
}

.badge span {
    float: right;
    display: none;
}

.score {
    background-color: green;
}