body {
    max-height: 100vH;
}

img {   
    margin: 5px;   
}

.small-image {
    margin: 5px;
    height: 110px;
    width: 110px;
}

.red-border {
    border: 2px solid red; 
}

.yellow-background {
    border: 2px solid green;
}

.badge {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: grey;
}

.badge span {
    float: right;
    display: none;
}

.outer-score {
    background-color: #fafafa;
    height: 100px;
    width: 100%;
    border-radius: 50px;
    border: 10px solid green;
    text-align: center;
}

.outer-score p {
    color: green;
    font-size: 3rem;
    font-weight: 700;
}