<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Hello, world!</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% if page_title == 'Page 1' %}
                        <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Page 1</a>
                        <a class="nav-link" href="{{ url_for('page_2') }}">Page 2</a>
                    {% elif page_title == 'Page 2' %}
                        <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Page 1</a>
                        <a class="nav-link active" href="{{ url_for('page_2') }}">Page 2</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages() %} 
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="div1"></div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            console.log("Document ready");
            $(".flashes").fadeOut("slow");
            // screen size script
            var txt = "";
            txt += "Width: " + $("body").outerWidth() + "</br>";
            txt += "Height: " + $("body").outerHeight();
            $("#div1").html(txt);

            $('.badge').click(function(){
                $(this).toggleClass('bg-success');
            });

            var numbers_clicked = [];
            
            r2 = [];
            r3 = [];
            r4 = [];
            $('img').click(function() {
                r1 = [];
                var clicked = $(this).attr("clicked");
                var image_clicked = parseInt($(this).attr("id"));              
                if (clicked == 'true') {
                    $(this).attr('clicked', 'false');
                    $(this).fadeTo(1000, 1.0);
                    numbers_clicked.forEach(remove_from_numbers_clicked);                    
                }
                else {
                    $(this).attr('clicked', 'true')               
                    $(this).fadeTo(1000, 0.4);
                    numbers_clicked.push(image_clicked);
                    numbers_clicked.sort(function(a, b){return a - b});
                }
                numbers_clicked.forEach(check_card);
                
                function remove_from_numbers_clicked(value, index, array) {
                    if (value == image_clicked) {
                        numbers_clicked.splice(index, 1);
                    }
                }

                function check_card(value, index, array) {
                    if (value %4 == 0) {
                        console.log("yes");
                        r1.push(1);
                        console.log(r1);
                    }
                    else {
                        console.log("no");
                    }
                }
        })
            

    });
    </script>
</body>

</html>