{% extends 'base.html' %}
{% block content %}   
    {% for x in number_list %}
        {% if x %5 == 0 %}             
            <div class="row">
                <div class="col">
                    <img class="d-block mx-auto img-fluid" src="{{ url_for('static', filename='images/beyonce_knowles-carter.JPG') }}" alt="">
                </div>       
                <div class="col">
                    <img class="d-block mx-auto img-fluid" src="{{ url_for('static', filename='images/beyonce_knowles-carter.JPG') }}" alt="">
                </div> 
                <div class="col">
                    <img class="d-block mx-auto img-fluid" src="{{ url_for('static', filename='images/beyonce_knowles-carter.JPG') }}" alt="">
                </div>       
                <div class="col">
                    <img class="d-block mx-auto img-fluid" src="{{ url_for('static', filename='images/beyonce_knowles-carter.JPG') }}" alt="">
                </div> 
                <div class="col">
                    <img class="d-block mx-auto img-fluid" src="{{ url_for('static', filename='images/beyonce_knowles-carter.JPG') }}" alt="">
                </div> 
            </div>               
        {% endif %}            
    {% endfor %}
{% endblock %}
